<!DOCTYPE html>

{% extends 'base.html' %}

<!-- Block Title -->
{% block title %}
	Pre-Matrícula
{% endblock %}

<!-- Block Herader -->
{% block header %}
	{% include 'navbar.html' %}
{% endblock %}

<!-- Block Content -->
{% block content %}
	<div class="card border-primary mt-3">
		<div class="card-header text-center text-white fw-bolder bg-primary">
			P R E M A T R I C U L A
		</div>
		
		<div class="card-body">
			<!-- Datos del Alumno -->
			<div class="card-group text-center">
				<div class="card border-primary">
					<div class="card-header bg-primary bg-opacity-25 fw-bold py-0">
						Alumno
					</div>
					<div class="card-group text-center">
						<div class="card-body py-0">
							<h5 class="card-title pt-1">{{ alumno.codigo_uni }}</h5>
						</div>
						<div class="card-body py-0">
							<h5 class="card-title pt-1">{{ alumno }}</h5>
						</div>
						<div class="card-body py-0">
							<h5 class="card-title pt-1">{{ matricula.get_facultad_display }}</h5>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Cursos y Créditos Seleccionados -->
			<div class="card-group text-center mt-3">
				<div class="card border-primary">
					<div class="card-header bg-primary bg-opacity-25 fw-bold py-0">
						Cursos Seleccionados
					</div>
					<div class="card-body py-0">
						<h5 class="card-title pt-1">{{ CursosSeleccionados }}</h5>
					</div>
				</div>
				<div class="card border-primary">
					<div class="card-header bg-primary bg-opacity-25 fw-bold py-0">
						Créditos Seleccionados
					</div>
					<div class="card-body py-0">
						<h5 class="card-title pt-1">{{ CreditosSeleccionados }}</h5>
					</div>
				</div>
				<div class="card border-primary">
					<div class="card-header bg-primary bg-opacity-25 fw-bold py-0">
						Créditos Permitidos
					</div>
					<div class="card-body py-0">
						<h5 class="card-title pt-1">{{ matricula.max_cred }}</h5>
					</div>
				</div>
			</div>
			
			<!-- Detalle de la matrícula -->
			<div class="card bord border-primary table-responsive mt-3">
				<div class="card-header text-center fw-bolder bg-primary bg-opacity-25 fw-bold">
					Cursos Permitidos
				</div>
				<div class="card-body">
					<table class="table table-bordered">
						<thead class="table-secondary">
							<tr class="text-center">
								<th scope="col" colspan="2">Curso</th>
								<th scope="col">Ciclo</th>
								<th scope="col">Créditos</th>
								<th scope="col">Repetido</th>
								<th scope="col">Pre-requisitos</th>
							</tr>
						</thead>
						<tbody>
							{% for d in detalle %}
								<tr>
									<td>{{ d.id_curso.codigo }}</td>
									<td>{{ d.id_curso.curso }}</td>
									<td class="text-end">{{ d.id_curso.creditos }}</td>
									<td class="text-end">{{ d.id_curso.ciclo }}</td>
									<td class="text-end">{{ d.repetido }}</td>
									<td>{{ d.id_curso.pre_requisitos }}</td>
								</tr>
							{% empty %}
								<p>El Alumno no tiene detalle que mostrar</p>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<!-- Botones -->
		<div class="card-footer text-muted text-end">
			
			
			
			<a href="#" class="btn btn-primary">Recomendación</a>
			
			
			
			<a href="{% url 'inicio' %}" class="btn btn-secondary">Anterior</a>
		</div>
	</div>
	{% endblock %}
	
	<!-- Block Footer -->
	{% block footer %}
	{% endblock %}
	
	
	<!-- <a href="{% url 'seleccionar_seccion' alumno matricula %}" class="btn btn-primary">Recomendación</a> -->